.modal-b {
  padding: 15px;
}

.refined {
  text-decoration: line-through;
}

.facet-selection:hover {
  text-decoration: line-through;
}

.algolia-input-container {
  text-align: center;
  margin: 40px auto 30px auto; }

.algolia-input-search {
  padding: 13px 18px;
  border: 1px solid #ccc;
  width: 100%;
  max-width: 700px;
  font-size: 18px;
  border-radius: 4px; }

  @media (max-width: 530) {
    .algolia-input-search {
      width: 100%;
      margin-bottom: 10px;
      display: block;
    }
  }

.algolia-map-container {
  width: 100%;
  /*padding-bottom: 100%;*/
  /*background-color: #ccc;*/
  /*position: relative; */
}
  .algolia-map-container:before {
    /*content: "Map goes here";*/
    /*position: absolute;*/
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%); }

#map {
   width: 100%;
   height: 606.67px;
   background-color: grey;
   flex-shrink: 0;
}

.algolia-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 

  }
  
  .algolia-wrapper-sidebar {
        flex-shrink: 0;
        max-width: 580px;
        min-width: 300px;
        width: auto;
        flex-wrap: wrap;
    margin-top: 15px; }
  
  .algolia-wrapper-main {

    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 1;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    margin-left: 30px; }

.algolia-facets-container {
  margin-top: 40px; 
  margin-bottom: 40px; 
}
  
  .facet-insurancesAccepted {
    background-color: #C9302C; 
    color: white;
    font-size: 18px;
    padding: 11px 20px;
  }

  .facet-insurancesAccepted:hover {
    color: lightgrey;
  }

  .facet-specialPopulations {
    background-color: #449D44; 
    color: white;
    font-size: 18px;
    padding: 11px 20px;
  }

  .facet-specialPopulations:hover {
    color: lightgrey;
  }

  .facet-ageGroup {
    background-color: #337AB7; 
    color: white;
    font-size: 18px;
    padding: 11px 20px;
  }

  .facet-ageGroup:hover {
    color: lightgrey;
  }

  .facet-county {
    padding: 14px 30px;
    /*padding-left: 10px;*/
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 4px;
    color: grey;
    background-color: white; 
    border-color: lightgrey;
  }

@media (max-width: 1000px) {
  .algolia-wrapper {
    flex-direction: column;
  }
}

.algolia-active-result {
  background-color: #F2EFEF;
}

.algolia-inactive-result {
  
}

.algolia-facets {
  max-height: 400px;
  overflow-y: scroll;
}

.algolia-facets-item + .algolia-facets-item {
  position: relative;
  margin-left: 10px; }

em {
  background-color: yellow;
}

.algolia-facet-selected-chip {
  color: #3798BC;
  margin: 10px;
  cursor: pointer;
  flex-shrink: 0;
}

.algolia-facet-selected-chip:hover {
  font-weight: bold;
}

.dropdown-menu {
  background-color: white;
}

.algolia-facet {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.algolia-facet-name {
  flex: 1 auto;
}

.algolia-facet-count {
  flex: 1;
  text-align: right;
  color: grey;
}

.algolia-refinements {
  display: flex;
  align-items: center;
}

.algolia-refinement-chips {
  display: flex;
  flex-wrap: wrap;
}

.glyphicon {
  padding-left: 2px;
}

.algolia-result-details-btn {
  display: none;
  margin: 10px;
  padding: 14px 30px;
  border: 1px solid #ccc;
  font-size: 18px;
  border-radius: 4px;
  color: white;
  background-color: #EF7C21; 
  border-color: lightgrey;
}

.algolia-result-details-btn:hover{
  color: lightgrey;
}

.algolia-result-details-btn-active {
  display: block;
}

.algolia-sort-container {
  border-bottom: 1px solid #ccc; }

.algolia-sort-active {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 14px 22px;
  border-bottom: 1px solid #fff;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: -1px; }

.algolia-results {
  margin-top: 10px;
  max-height: 600px;
  overflow-y: scroll;
}

.algolia-result {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .algolia-result + .algolia-result {
    /*margin-top: 15px;*/
    border-top: 1px solid #ccc;
    padding-top: 10px; 
    padding-bottom: 10px;}
  .algolia-result-share-icon {
    width: 30px;
    cursor: pointer; }
  .algolia-result-content {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 0.5;
    margin-left: 10px; }
    .algolia-result-content-type {
      font-size: 16px;
      text-transform: uppercase;
      margin-bottom: 14px;
      font-weight: 300; }
    .algolia-result-content-name {
      font-size: 20px;
      margin-bottom: 8px; }
    .algolia-result-content-address {
      font-size: 16px;
      margin-bottom: 8px; }
      .algolia-result-content-address span {
        display: block; }
    .algolia-result-content-availability {
      text-transform: uppercase;
      margin-bottom: 0;
      font-weight: 700; }
